.todo-container {
    width: 90%;
    background: #ecf0f1;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.todo-container .header {
    display: flex;
    justify-content: space-between;
}

.todo-list {
    height: 400px;
    overflow: scroll;
}