.add-todo {
    background: #9b59b6;
    display: flex;
    height: 50px;
    position: absolute;
    right: 0;
    top: -60px;
    padding: 5px;
    align-items: center;
}

.add-todo.color-red {
    background: #e74c3c;
}

.add-todo.color-blue {
    background: #3498db;
}

.add-todo.color-orange {
    background: #d35400;
}

.add-todo.color-yellow {
    background: #f39c12;
}

.add-todo .button {
    width: 20%;
}
